.chat-box {
  box-sizing: border-box;
  padding: 10px;
  width: 25vw;
  min-height: 40vh;
  max-height: 60vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

.msg-input-form {
  display: flex;
  justify-self: center;
  margin-top: auto;
}
